<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated hW5 -->
      <package
            uri="http://www.example.org/hW5"
            class="hW5.HW5Package"
            genModel="model/hW5.genmodel"/>
   </extension>

</plugin>
